

PORT=5000

MONGO_URL=your_mongodb_connection_string
//mongodb://127.0.0.1:27017/examio

JWT_SECRET=your_jwt_secret


# Google OAuth client
GOOGLE_CLIENT_ID=your_google_client_id


# razorpay integration
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret


# cloudinary setup keys
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# for forget password
EMAIL_USER=your_email
EMAIL_PASS=your_email_password_or_app_password


# for admin creation.
# npm run seed-admin
ADMIN_EMAIL=your_Admin@email.com
ADMIN_PASS=Admin_password